/* Helper module for button component */

@mixin button($rate) {
  min-height: 3em;
  width: calc(100% / #{$rate});
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  @content;

  &:disabled {
    cursor: default;
  }
}

@mixin outerButton($color) {
  border-color: $color;
  color: $color;

  &:disabled {
    border-color: white;
    color: white;
  }
}

@mixin defaultButton($color, $font-color) {
  border-color: $color;
  background-color: $color;
  color: $font-color;

  &:disabled {
    border-color: $font-color;
    background-color: $font-color;
  }
}
