@import '~sanitize.css/sanitize.css';
@import "~modularscale-sass/stylesheets/modular-scale";

/* import mixins */
@import "mixin";
@import "button";
@import "card";
@import "header";
@import "inputs";
@import "labeledRow";
@import "signboard";

/* import settings */
@import "variables";

/* Main */
body {
  @include ms-respond(font-size, 1);

  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include min-screen($break-point-tablet) {
    width: $break-point-tablet;
  }
}

.header {
  @include header($main-color, $invert-font-color, $shadow-color);
}

.coupon {
  flex: 1;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .card {
    @include card(
      $second-color,
      $invert-font-color,
      $shadow-color
    ) {
      .card_body_expiration {
        padding: 0.5em 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;

        .card_body_expiration-title {
          padding: 0 1em;
          color: $font-color-light;
          font-size: 0.9em;
        }

        .card_body_expiration-body {
          color: $font-color-strong;
          font-size: 0.9em;
        }
      }
    }
  }

  .annotation {
    margin: 0 auto;
    padding: 2em;
    font-size: 0.8em;
    color: $font-color-strong;
  }

  .location .location_map {
    margin: 0 auto;
    padding: 0 1em 0 0;

    .location_map-frame {
      width: 100%;
      height: 20em;
    }
  }

  .aboutStore {
    padding: 1em;
    font-size: 0.8em;
  }

  .moreContents {
    font-size: 0.8em;
    padding: 0 1em;
    color: $font-color-light;

    .moreContents_txt {
      margin: 0;
    }
  }
}

.couponSimple {
  flex: 1;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .card {
    @include card(
      $second-color,
      $invert-font-color,
      $shadow-color
    ) {
      .couponSimple_abstraction {
        display: flex;
        justify-content: flex-between;
        align-items: center;

        .couponSimple_abstraction-store {
          padding: 1em;
          font-size: 0.8em;
          font-weight: normal;
          flex: 1;
          min-width: 12em;
          margin: 0;
        }

        .couponSimple_abstraction-summary {
          display: flex;
          justify-content: right;
          align-items: center;

          .couponSimple_abstraction-summary-sub {
            padding: 1em;
            color: $font-color-light;
            font-size: 0.8em;
            min-size: 12em;
          }

          .couponSimple_abstraction-summary-main {
            padding-right: 1em;
            color: $font-color-strong;
            min-size: 12em;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.store {
  .storeHeader-title {
    font-size: 1em;
    font-weight: normal;
  }

  .storeBody {
    .storeBody_description {
      font-size: 0.8em;
      color: $font-color-light;
      padding: 1em 2em;
    }

    .storeBody_info {
      @include signboard($border-color-light);

      .storeBody_info_titleArea {
        @include signboard_titleArea;

        .storeBody_info_titleArea-text {

          @include signboard_roundedTitle($border-color-light, $invert-font-color);
        }
      }

      .storeBody_info_body {
        padding: 3em 2em 1em;

        .storeBody_info_body_btnRow {
          padding: 1em 0;

          .btn {
            width: 100%;
          }
        }

        .storeBody_info_body_row {
          @include labeledRow($break-point-mobile);

          .storeBody_info_body_row-header {
            @include labeledRow_header($break-point-mobile) {
              color: $font-color-lightest;
            }
          }

          .storeBody_info_body_row-body {
            @include labeledRow_body {
              color: $font-color-light;
            }
          }
        }
      }
    }
  }
}

.icon {
  padding: 0 0.8em;
}

.btn {
  @include button($major-third) {
    &.outerBtn {
      @include outerButton($main-color);
    }

    &.defaultBtn {
      @include defaultButton($main-color, $invert-font-color);
    }
  }
}

.annotatedImageGroup {
  position: relative;

  .annotatedImageGroup-image {
    width: 100%;
  }

  .annotatedImageGroup-annotation {
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    font-size: 0.6em;
    color: $invert-font-color;
    text-shadow:
      -1px -1px $font-color,
      1px -1px $font-color,
      -1px 1px $font-color,
      1px 1px $font-color;
  }
}

.highlightedBlock {
  background-color: $second-color-light;
  display: flex;
  align-items: center;
  justify-content: center;

  .highlightedBlock-sub {
    padding: 0 1em;
    color: $font-color-light;
    font-size: 0.9em;
  }

  .highlightedBlock-main {
    color: $font-color-strong;
    font-size: 1.2em;
    padding: 0.2em 0;
    font-weight: bold;
  }
}

.labeledRow {
  @include labeledRow($break-point-mobile);

  .labeledRow-header {
    @include labeledRow_header($break-point-mobile) {
      color: $font-color-lightest;
    }
  }

  .labeledRow-body {
    @include labeledRow_body {
      color: $font-color-light;
    }
    @include defaultInput($border-color-light, $shadow-color);
  }
}

.messageArea {
  .messageGroup {
    padding: 0.5em 1em;

    .messageBody,
    .messageBody-error {
      border-radius: 4px;
      border-style: solid;
      border-width: 2px;
      box-shadow: 0 18px 15px -22px $shadow-color;
      display: flex;
      justify-content: space-between;
      color: $font-color;
      padding: 0.4em;
      margin: 0.5em 0;
    }

    .messageBody {
      border-color: $main-color;
    }

    .messageBody-error {
      border-color: $danger-color;
    }
  }
}
