/* import settings */
@import "variables";

.coupon {
  flex: 1;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .card {
    @include card(
      $second-color,
      $invert-font-color,
      $shadow-color
    ) {
      .card_body_expiration {
        padding: 0.5em 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;

        .card_body_expiration-title {
          padding: 0 1em;
          color: $font-color-light;
          font-size: 0.9em;
        }

        .card_body_expiration-body {
          color: $font-color-strong;
          font-size: 0.9em;
        }
      }
    }
  }

  .annotation {
    margin: 0 auto;
    padding: 2em;
    font-size: 0.8em;
    color: $font-color-strong;
  }

  .location .location_map {
    margin: 0 auto;
    padding: 0 2em;

    .location_map-frame {
      width: 100%;
      height: calc(100vw / #{$golden});
    }
  }

  .aboutStore {
    padding: 1em;
    font-size: 0.8em;
  }

  .moreContents {
    font-size: 0.8em;
    padding: 0 1em;

    .moreContents_txt {
      margin: 0;
    }
  }
}

