/* Helper module for labeled row component */

@import "mixin";

@mixin labeledRow($breakpoint: 640px) {
  @include max-screen($breakpoint) {
    flex-wrap: wrap;
  }

  padding: 1em 0;
  display: flex;
  font-size: 0.8em;
}

@mixin labeledRow_header($breakpoint: 640px) {
  min-width: 12em;
  width: 12em;
  padding-right: 2em;
  @content;

  @include max-screen($breakpoint) {
    width: auto;
  }
}

@mixin labeledRow_body {
  flex: 1;
  min-width: 22em;
  @content;
}
