@import "common";
@import "loading";

.store {
  .storeSubmit {
    padding: 1em 0;

    .btn {
      width: 100%;
    }
  }

  .store_editBtn {
    padding: 1em;
  }

  .storeBody_info_body_row {
    @include labeledRow($break-point-mobile);

    .storeBody_info_body_row-header {
      @include labeledRow_header($break-point-mobile) {
        color: $font-color-lightest;
      }
    }

    .storeBody_info_body_row-body {
      @include defaultInput($border-color-light, $shadow-color);

      .storeBody_info_body_row-body-map {
        margin: 0 auto;

        .location_map-frame {
          width: 100%;
          height: 20em;
        }
      }

      .storeBody_info_body_row-body-image {
        width: 100%;
      }
    }
  }

  .loginSignboard {
    @include signboard($border-color-light);

    .loginSignboard_titleArea {
      @include signboard_titleArea;

      .loginSignboard_titleArea-text {
        @include signboard_roundedTitle($border-color-light, $invert-font-color);
      }
    }

    .loginSignboard_body {
      padding: 3em 2em 1em;
    }
  }
}

.couponEditor {
  .couponEditor_signbord {
    @include signboard($border-color-light);

    .couponEditor_titleArea {
      @include signboard_titleArea;

      .couponEditor_titleArea-title {
        @include signboard_roundedTitle($border-color-light, $invert-font-color);
      }
    }

    .couponEditor_body {
      padding: 3em 2em 1em;

      .labeledRow-body-image {
        width: 100%;
      }
    }
  }

  .couponSubmit {
    padding: 1em;
  }
}

.simpleTagWrapper {
  display: flex;
  flex-wrap: wrap;

  .simpleTag {
    padding-right: 2em;
  }
}

.checkboxGroup {
  display: inline-block;

  .checkboxWrapper {
    display: inline-block;

    .checkbox {
      display: none;
    }

    .checkboxLabel {
      cursor: pointer;
      padding: 0.2em 0.5em;
      border-radius: 8px;
      border-style: solid;
      border-width: 2px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.2em;
    }

    .checkbox:checked ~ .checkboxLabel {
      @include defaultButton($main-color, $invert-font-color);

      transition: color, background-color 1s ease;
    }

    .checkbox:not(:checked) ~ .checkboxLabel {
      @include outerButton($border-color-light);

      transition: color, background-color 1s ease;
    }
  }
}

.showOnFocus:not(:target) {
  display: none;
}

.icon.icon-fav.checkableIcon {
  display: none;
}

[aria-hidden="true"] {
  display: none;
}

#js-map-frame-wrapper[aria-busy="true"] {
  @include loading;
}
