header.header
  .home.showMenu
    input#adminHeaderShowMenu.showMenu_checkbox(type="checkbox")
    label.showMenu_label(for="adminHeaderShowMenu")
      img.showMenu_label-image(src=require("../img/hamburger.svg"))
    .sideMenu
      .sideMenu_hide
        label.sideMenu_hide-text(for="adminHeaderShowMenu")
      a.btn.outerBtn(href="/admin/store/create") 店舗ユーザ作成
      a.btn.outerBtn(href="/admin/store/delete") 店舗ユーザ削除
      a.btn.outerBtn(href="/admin/store/login") 店舗ユーザとしてログイン
  h1.title
    yield
  .icons
    a.icon.icon-me(href="/admin/store/login")
      img(src=require("../img/me.svg"))
