.coupon
  .card
    .card_header
      h2.card_header_text 七輪焼肉・安安
      .card_header_icon
        .icon.icon-like(data-coupon-id="3")
          img(src=require("../img/heart.svg"))
    .annotatedImageGroup
      img.annotatedImageGroup-image(src=require("../img/dummy.jpg") alt="七輪焼き肉・安安")
      span.annotatedImageGroup-annotation 画像は一例です
    .card_body
      .card_body_title
        | 当日OK! 21時以降のご予約で2.5H飲放題付き料理4品で3,600円
      .card_body_summary.highlightedBlock
        span.highlightedBlock-sub 10% OFF
        span.highlightedBlock-main 3600円
      .card_body_expiration
        span.card_body_expiration-title
          | 有効期限
        span.card_body_expiration-body
          | 2016年4月15日から 2016年4月30日まで
  .annotation ※ この画面を店舗でご提示ください
  .location
    .location_map(data-latitude="41.40243" data-longitude="2.17551")
      iframe.location_map-frame(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6483.579410111866!2d139.6998074!3d35.6575525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b59d79dd993%3A0xdef2b8ece045887e!2z5LiD6Lyq54S86IKJIOWuieWuiSDmuIvosLflupc!5e0!3m2!1sja!2sjp!4v1471871614830" frameborder="0" style="border:0" allowfullscreen)
  .aboutStore
    a.btn.outerBtn(href="/store/52") 七輪焼き肉・安安
  .moreContents
    p.moreContents_txt 2.5時間飲放題付きの料理4品です。
    p.moreContents_txt 1. 前菜 2. 焼き肉盛り合わせ 3. 冷麺 4. アイスクリーム
    p.moreContents_txt ※ 1グループ1回のご利用時の利用枚数制限はありません。
    p.moreContents_txt ※ 21時以降のご予約のお客様が対象です。
