header.header
  .home.showMenu
    input#headerShowMenu.showMenu_checkbox(type="checkbox")
    label.showMenu_label(for="headerShowMenu")
      img.showMenu_label-image(src=require("../img/hamburger.svg"))
    .sideMenu
      .sideMenu_hide
        label.sideMenu_hide-text(for="headerShowMenu")
      a.btn.outerBtn(href="/favorites") お気に入りクーポン
      a.btn.outerBtn(href="/categories") カテゴリ一覧

  h1.title
    yield
  .icons
    a.icon.icon-like(href="/favorites")
      img(src=require("../img/heart.svg"))
    a.icon.icon-me(href="/settings")
      img(src=require("../img/me.svg"))
