.messageArea
  .messageGroup
    | %{ forall error <- errors }
    .messageBody-error
      | \#{ error }
    | %{ endforall }

    | %{ forall message <- messages }
    .messageBody
      | \#{ message }
    | %{ endforall }
