.messageArea
  .messageGroup
    | {% for error in errors %}
    .messageBody-error
      | {{ error.value | toLower }}
    | {% endfor %}

    | {% for message in messages %}
    .messageBody
      | {{ message.value }}
    | {% endfor %}
