.messageArea
  .messageGroup
    | {% for error in errors %}
    .messageBody-error
      | {{ error.value | escape }}
    | {% endfor %}

    | {% for message in messages %}
    .messageBody
      | {{ message.value | escape }}
    | {% endfor %}
