include _layout
  body#main.wrapper
    include _adminHeader
      | 店舗ユーザ追加
    .admin
      .adminMenu
        a.btn.outerBtn(href="/admin/store/delete") 店舗ユーザ削除
        a.btn.defaultBtn(href="/admin/store/login") 店舗ユーザとしてログインする

      .adminBody
        .signboard_titleArea
          .signboard_titleArea-title
            | 店舗ユーザの作成
        form.signboard_body(method="POST")
          .labeledRow
            label.labeledRow-header(for="storeEmail")
              | 追加する店舗ユーザのメールアドレス
            .labeledRow-body
              input#storeEmail(
                name="storeEmail" type="email"
                required
              )
          .submitRow
            button.btn.outerBtn(type="submit")
              | この内容で店舗ユーザを作成
