include _layout
  body#main.wrapper
    include _header
      | カテゴリ
    include _messageArea0
    .category
      a.taggedImage(href="/coupons#0")
        img.taggedImage-image.roundedImage(src="../img/dummyRect.svg")
        .taggedImage-tag
          | グルメ
      a.taggedImage(href="/coupons#1")
        img.taggedImage-image.roundedImage(src="../img/dummyRect.svg")
        .taggedImage-tag
          | ファッション
      a.taggedImage(href="/coupons#2")
        img.taggedImage-image.roundedImage(src="../img/dummyRect.svg")
        .taggedImage-tag
          | ガジェット
      a.taggedImage(href="/coupons#3")
        img.taggedImage-image.roundedImage(src="../img/dummyRect.svg")
        .taggedImage-tag
          | 旅行
      a.taggedImage(href="/coupons#4")
        img.taggedImage-image.roundedImage(src="../img/dummyRect.svg")
        .taggedImage-tag
          | 美容
      a.taggedImage(href="/coupons#5")
        img.taggedImage-image.roundedImage(src="../img/dummyRect.svg")
        .taggedImage-tag
          | 旅行
