include _layout
  body#main.wrapper
    include _storeHeader
      | クーポン情報
    | %{ case maybeCouponEntity }
    | %{ of Just (Entity couponKey coupon) }
    .store
      .store_editBtn
        a.btn.outerBtn(href="/store/coupon/\#{ fromSqlKey couponKey }/edit") クーポン情報編集
    include _coupon_id
    | %{ of Nothing }
    | No coupon info.
    | %{ endcase }
