include _layout
  body#main.wrapper
    include _storeHeader
      | 店舗ユーザログイン
    include _messageArea
    .store
      form#js-request-verification.loginSignboard(
        data-user-type="store"
      )
        .loginSignboard_titleArea
          .loginSignboard_titleArea-text
            | 店舗ユーザログイン
        .loginSignboard_body
          .labeledRow
            label.labeledRow-header(for="email")
              | メールアドレス
            .labeledRow-body
              input#email(
                name="email" type="email"
                required
              )
          .storeBody_info_body_btnRow
            button#js-request-verification-btn.btn.outerBtn(type="submit")
              | ログイン用URLをメールする
